body {
	font-family: Georgia, serif;
	font-size: 13px;
	line-height: 0em;
	margin: 1em 1em;
}

.info {
	line-height: 1.5em;
}

h1, h2, h3, .description {
	clear: both;
	margin-top: 0em;
	margin-bottom: 0em;
}

h1 {
	font-size: 2em;
	padding-bottom: 0.5em;
}

h2 {
	font-size: 1.5em;
	padding-top: 1em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.25em;
	font-style: italic;
	margin-bottom: 0.5em; 
}

.school {
	margin-bottom: 1em;
}

.school h3 {
	margin-bottom: 0em;
}

.position, .left, .description {
	width: 77%;
	float: left;
}

.right {
	width: 20%;
	float: right;
}

.position, .right {
	font-weight: bold;
}

.description, .school .left {
	border-bottom: 1px solid #ccc;
}

.description {
	text-align: justify;
	line-height: 1.45em;
}

.experience {
	width: 100%;
}

.school {
	float: left;
	width: 100%;
}

.line {
	width: 100%;
	clear: both;
}

div.page-break {
	page-break-after: always;
}