html {
  height: 90%;
}

p, li, ul {
  text-shadow: -1px -1px white, 1px 1px white;
}

li.deck-before, li.deck-previous, p.deck-before, p.deck-previous, ul.deck-before, ul.deck-previous {
  opacity: 0.4;
}

section.slide {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
  padding: 10px;
}

